.form-box {
    box-sizing: border-box;
    display: block;
    background-color: #fffff0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 26px 0px rgba(0,0,0,0.25);
    width:50%;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .form-box {
      width:100%;
    }
  }

.form-control {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    font-size: 1rem;
    height: auto;
    display: block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


.searchButton {
    padding: 5px 10px;
    line-height: 35px;
    background-color: #36a5f3;
    color: #fff;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #2180c3;

}

.buttonContainer {
    text-align: center;
    margin-top: 3vh;
    margin-bottom:2vh;
}

.room {
    flex-grow: 5;
    max-width: 41.666667%;
    border-right: 2px dashed #fff;
    text-align: center;
}

.perPrice {
    display: block;
    flex-grow: 2;
    border-right: 2px dashed #fff;
    text-align: center;
}

.reserve {
    display: flex;
    align-items:center;
    flex-grow: 3;
    text-align: center;
    margin-left:25px;
}

.price {
    height: auto;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000;
}

.roomSpec {
    font-size: 1.2rem;
}

.reserveButton {
    padding: 5px 10px;
    line-height: 35px;
    background: #36a5f3;
    color: #fff;
    border: none;
    cursor: pointer;
}