.form-box {
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 26px 0px rgba(0,0,0,0.25);
    width:50%;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .form-box {
      width:100%;
    }
    .resultItems {
      width:100%;
    }
  }

@media only screen and (min-width: 768px) {
    .perPrice {
        border-right: 2px dashed #f5f2f0;
    }
    .room {
        border-right: 2px dashed #f5f2f0;
    }
    .reserve {
        margin-left: 20px;
    }
}


.form-control {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    font-size: 1rem;
    height: auto;
    display: block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


.searchButton {
    padding: 5px 10px;
    line-height: 35px;
    background-color: #36a5f3;
    color: #fff;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #2180c3;

}

.buttonContainer {
    text-align: center;
    margin-top: 3vh;
    margin-bottom:2vh;
}

.room {
    flex: 0 0 41.666667%;
    text-align: center;
}

.perPrice {
    display: block;
    flex-grow: 2;
    text-align: center;
}

.reserve {
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

.price {
    height: auto;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000;
}

.roomSpec {
    font-size: 1.2rem;
}

.resultItems {
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 2px 3px 26px 0px rgba(0,0,0,0.25);
    width:95%;
    margin: auto;
}